@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Book

<!--This is the shared layout for displaying the books-->
<div class="card card-outline-primary m-1 p-1 gap-1">
    <div class="bg-faded p-1">
        <h4>
            @Model.Title
            <span class="badge badge-pill badge-primary" style="float:right">
                <small>@Model.Price.ToString("c")</small>
            </span>
        </h4>
    </div>

    <!--Changed the info to be dispayed witha  table-->
    <table class="border-1">
        <thread class="font-weight-bolder">
            <tr>
                <td class="card-text p-1 text-decoration-underline col-1"><u>Author</u></td>
                <td class="card-text p-1 text-decoration-underline col-1"><u>Category</u></td>
                <td class="card-text p-1 text-decoration-underline col-1"><u>Publisher</u></td>
                <td class="card-text p-1 text-decoration-underline col-1"><u>Page Count</u></td>
                <td class="card-text p-1 text-decoration-underline col-1"></td>
            </tr>
        </thread>

        <tbody>
            <tr>
                <td class="card-text p-1 light">@Model.Author</td>
                <td class="card-text p-1">@Model.Category</td>
                <td class="card-text p-1">@Model.Publisher</td>
                <td class="card-text p-1">@Model.PageCount</td>
            </tr>
        </tbody>
    </table>


    <form method="post" asp-page="/Purchase">
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />


        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-right">Purchase</button>
        </span>
    </form>

</div>
